<?xml version="1.0" encoding="UTF-8"?>
<!--该日志将日志级别不同的log信息保存到不同的文件中 -->
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="springAppName"
                    source="spring.application.name"/>

    <property name="LOG_FILE" value="logs"/>
    <property name="FILE_SIZE" value="10MB"/>
    <property name="MAX_HISTORY" value="30"/>

    <!--<property name="LOG_STASH_HOST" value="logstash"/>-->

    <!-- 控制台的日志输出样式 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint}[traceId:%X{X-B3-TraceId}][spanId:%X{X-B3-SpanId}] %clr([%-5level]) %clr([pid:${PID:- }]){magenta} [%logger:%line] %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS}[traceId:%X{X-B3-TraceId}][spanId:%X{X-B3-SpanId}] [%-5level] [pid:${PID:- }]{magenta} [%logger:%line] %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="utf-8">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--log_error-->
    <appender name="log_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder charset="utf-8">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}/log_error/%d{yyyy-MM}/${springAppName}_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!--log_debug-->
    <appender name="log_debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder charset="utf-8">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}/log_debug/%d{yyyy-MM}/${springAppName}_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!--log_business-->
    <appender name="log_business" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder charset="utf-8">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}/log_business/%d{yyyy-MM}/${springAppName}_%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!--<appender name="log_stash_debug"-->
    <!--class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
    <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
    <!--<level>DEBUG</level>-->
    <!--</filter>-->
    <!--<destination>${LOG_STASH_HOST}:4560</destination>-->
    <!--<encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
    <!--<providers>-->
    <!--<timestamp>-->
    <!--<timeZone>Asia/Shanghai</timeZone>-->
    <!--</timestamp>-->
    <!--<pattern>-->
    <!--<pattern>-->
    <!--{-->
    <!--"project": "aienglish",-->
    <!--"level": "%level",-->
    <!--"service": "${springAppName:-}",-->
    <!--"traceId": "%X{X-B3-TraceId:-}",-->
    <!--"spanId": "%X{X-B3-SpanId:-}",-->
    <!--"exportable": "%X{X-Span-Export:-}",-->
    <!--"pid": "${PID:-}",-->
    <!--"thread": "%thread",-->
    <!--"class": "%logger:%line",-->
    <!--"message": "%message",-->
    <!--"stack_trace": "%exception{10}"-->
    <!--}-->
    <!--</pattern>-->
    <!--</pattern>-->
    <!--</providers>-->
    <!--</encoder>-->
    <!--<connectionStrategy>-->
    <!--<roundRobin>-->
    <!--<connectionTTL>5 minutes</connectionTTL>-->
    <!--</roundRobin>-->
    <!--</connectionStrategy>-->
    <!--</appender>-->

    <!--<appender name="log_stash_error"-->
    <!--class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
    <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
    <!--<level>ERROR</level>-->
    <!--<onMatch>ACCEPT</onMatch>-->
    <!--<onMismatch>DENY</onMismatch>-->
    <!--</filter>-->
    <!--<destination>${LOG_STASH_HOST}:4561</destination>-->
    <!--<encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
    <!--<providers>-->
    <!--<timestamp>-->
    <!--<timeZone>Asia/Shanghai</timeZone>-->
    <!--</timestamp>-->
    <!--<pattern>-->
    <!--<pattern>-->
    <!--{-->
    <!--"project": "aienglish",-->
    <!--"level": "%level",-->
    <!--"service": "${springAppName:-}",-->
    <!--"traceId": "%X{X-B3-TraceId:-}",-->
    <!--"spanId": "%X{X-B3-SpanId:-}",-->
    <!--"exportable": "%X{X-Span-Export:-}",-->
    <!--"pid": "${PID:-}",-->
    <!--"thread": "%thread",-->
    <!--"class": "%logger:%line",-->
    <!--"message": "%message",-->
    <!--"stack_trace": "%exception{10}"-->
    <!--}-->
    <!--</pattern>-->
    <!--</pattern>-->
    <!--</providers>-->
    <!--</encoder>-->
    <!--<connectionStrategy>-->
    <!--<roundRobin>-->
    <!--<connectionTTL>5 minutes</connectionTTL>-->
    <!--</roundRobin>-->
    <!--</connectionStrategy>-->
    <!--</appender>-->

    <!--<appender name="log_stash_business"-->
    <!--class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
    <!--<destination>${LOG_STASH_HOST}:4562</destination>-->
    <!--<encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
    <!--<providers>-->
    <!--<timestamp>-->
    <!--<timeZone>Asia/Shanghai</timeZone>-->
    <!--</timestamp>-->
    <!--<pattern>-->
    <!--<pattern>-->
    <!--{-->
    <!--"project": "aienglish",-->
    <!--"level": "%level",-->
    <!--"service": "${springAppName:-}",-->
    <!--"traceId": "%X{X-B3-TraceId:-}",-->
    <!--"spanId": "%X{X-B3-SpanId:-}",-->
    <!--"exportable": "%X{X-Span-Export:-}",-->
    <!--"pid": "${PID:-}",-->
    <!--"thread": "%thread",-->
    <!--"class": "%logger:%line",-->
    <!--"message": "%message",-->
    <!--"stack_trace": "%exception{10}"-->
    <!--}-->
    <!--</pattern>-->
    <!--</pattern>-->
    <!--</providers>-->
    <!--</encoder>-->
    <!--<connectionStrategy>-->
    <!--<roundRobin>-->
    <!--<connectionTTL>5 minutes</connectionTTL>-->
    <!--</roundRobin>-->
    <!--</connectionStrategy>-->
    <!--</appender>-->

    <!--<appender name="log_stash_record" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
    <!--<destination>${LOG_STASH_HOST}:4563</destination>-->
    <!--<encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
    <!--<providers>-->
    <!--<timestamp>-->
    <!--<timeZone>Asia/Shanghai</timeZone>-->
    <!--</timestamp>-->
    <!--<pattern>-->
    <!--<pattern>-->
    <!--{-->
    <!--"traceId": "%X{X-B3-TraceId:-}",-->
    <!--"spanId": "%X{X-B3-SpanId:-}",-->
    <!--"message": "%message"-->
    <!--}-->
    <!--</pattern>-->
    <!--</pattern>-->
    <!--</providers>-->
    <!--</encoder>-->
    <!--<connectionStrategy>-->
    <!--<roundRobin>-->
    <!--<connectionTTL>5 minutes</connectionTTL>-->
    <!--</roundRobin>-->
    <!--</connectionStrategy>-->
    <!--</appender>-->

    <logger name="org.slf4j" level="info"/>
    <logger name="springfox" level="error"/>
    <logger name="com.netflix" level="error"/>
    <logger name="io.swagger" level="error"/>
    <logger name="org.apache" level="info"/>
    <!--<logger name="com.aienglish.schedule" level="info"/>-->
    <!--<logger name="org.springframework.amqp.rabbit" level="error"/>-->
    <!--<logger name="org.mybatis.spring" level="info"/>-->
    <!--<logger name="io.seata.core.rpc" level="info"/>-->
    <!--<logger name="com.alibaba.nacos.client.naming" level="info"/>-->
    <!--<logger name="io.seata.discovery.registry.eureka" level="info"/>-->
    <logger name="org.springframework" level="info"/>
    <logger name="serviceStatsLog" level="warn"/>
    <!--<logger name="com.aienglish" level="debug">-->
    <!--<appender-ref ref="log_stash_business"/>-->
    <!--</logger>-->

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="console"/>
        <!--<appender-ref ref="log_error"/>-->
        <!--<appender-ref ref="log_debug"/>-->
        <!--<appender-ref ref="log_stash_debug"/>-->
        <!--<appender-ref ref="log_stash_error"/>-->
    </root>
    <!--<logger name="com.aienglish.common.web.util" level="debug">-->
    <!--<appender-ref ref="log_stash_record"/>-->
    <!--</logger>-->
</configuration>
